<!DOCTYPE html>
<html>
  <head>
    <title>BlogRailsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="header">
      <nav class="navbar">
        <div class="navbar-container">
          <%= link_to 'Blog Posts', root_path, class: "navbar-item" %>
        </div>
        <div class="navbar-container">
          <%= link_to 'Users', users_path, class: "navbar-item" %>
        </div>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
